

body {
	font-family: sans-serif, fantasy;
	background-color: #EBB471;
}
a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
h1 {
    color: white;
}
.header-main {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #B17844;
    height: 100px;
    }
.imgL22 {
    width: 200px;
    position: absolute;
    left: 50px;
}
.header-1 {
    background-color: #EBB471;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.nav_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78552b28;
    font-size: 25px;
    height: 100px;
    width: 190px;
    transition: transform .2s;
}
.nav_btn:hover {
    background-color: #78552B;
    border-radius: 1px;
    transform: scale(1.5); 
    animation-duration: 1.5s;
}

.pic-1 {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 43%;
}
.words-1 {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 75%;
    left: 40%;
}
.door-main {
    height: 600px;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 15%;
}
.door-left {
    position: absolute;
    top: 30%;
    left: 32.8%;
}
.left {
    height: 600px;
    position: absolute;
    top: 30%;
    left: 32.8%;
}
.door-right {
    position: absolute;
    top: 30%;
    left: 51%;
}
.right {
    height: 600px;
    position: absolute;
    top: 30%;
    left: 51%;
    transition: transform .2s;
}
.move {
    transition: all 1s ease;
}
.move:hover .door-left {
    animation: moveTextLeft 1.4s forwards;
}
@keyframes moveTextLeft {
    0% {
        transform: translateX(0);
    }
    60%{
        opacity: 1;
    }
    100% {
        transform: translateX(-300px);
        opacity: 1;
    }
}
.move:hover .door-right {
    animation: moveTextRight 1.4s forwards;
}
@keyframes moveTextRight {
    0% {
        transform: translateX(0);
    }
    60%{
        opacity: 1;
    }
    100% {
        transform: translateX(300px);
        opacity: 1;
    }
}

